---
layout: default
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <style>
      body{
        background-color: black;
        color: white;
      }
    </style>
    <script>
      var remark_config = {
        host: "https://r42.andrestork.moe",
        site_id: "andrestork-blog",
        theme: "dark"
      }
    </script>
    <script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>
  </head>
  <body>
    {{ content }}
    <div id="remark42">Comments loading...</div>
  </body>
</html>
